VITE_SUPABASE_URL=https://hdizwdolyziqvszxuama.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkaXp3ZG9seXppcXZzenh1YW1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyNTQzODYsImV4cCI6MjA5NTgzMDM4Nn0.bP5CgOo5K0Z4a7REB_xqkIm8zBa2b14FbaQOiSdThvY
